.btns {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.btns-row {
  display: flex;
  gap: 8px;
}

.textBlock,
.button-54 {
  align-self: flex-start;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;

  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54 {
  cursor: pointer;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
}

.button-54:active,
.button-54:disabled {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.text {
  /* color: #d6f4f4;*/
  font-size: 2rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -0.175ch;
  /* line-height: 0.9; */
  color: #efefef;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px black;
}
