.loaderBlock {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: white;
  color: black;
}

.loading {
  font-weight: bold;
  display: inline-block;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}
@media only screen and (max-device-width: 568px) {
  .loading {
    font-size: 20px;
  }
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
