.table {
  background-color: green;
  padding: 16px 0;
}

.tableInner {
  display: flex;
  flex-direction: column;
  width: max-content;

  margin: auto;
  row-gap: 48px;
}

.top {
  display: flex;
  justify-content: space-between;
}
